@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;900&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans";
  color: #fff;
  line-height: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 23vw;
  font-weight: 900;
  line-height: 19vw;
}

.pageWrapper {
  width: 100vw;
  height: 100vh;
  background-position: 57%;
  background-size: cover;
}

.gradient {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

.navigation {
  display: flex;
  align-items: center;
  padding: 7vw 0 0 7vw;
  cursor: pointer;
}

.icon {
  width: 7vw;
  padding-right: 4vw;
}

.navItem {
  font-size: 7vw;
  font-weight: 700;
}

.logo {
  width: 25vw;
  padding: 2vw 0 0 7vw;
}

.name {
  padding: 0 0 7vw 7vw;
  margin-top: -9vw;
}
.communities {
  font-size: 12vw;
  line-height: 0;
}

.that {
  font-size: 19vw;
  line-height: 0;
}

.care {
  font-size: 30vw;
  line-height: 0;
}
